<%= form_with(model: role) do |form| %>
  <% if role.errors.any? %>
    <div style="color: red">
      <p><%= pluralize(role.errors.count, "erro") %> impediram esta role de ser salva:</p>
      <ul>
        <% role.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Nome da Role' %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar Role' %>
  </div>
<% end %>
